/* BROWSER RESETS */
* {
  margin: 0;
  padding: 0;
}

.centered {
  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.selection {
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  margin: 20px;
}

.selection * {
  margin-inline: 2rem;
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
}

.card {
  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.pokemon-body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
}

.pokemon-stats * {
  padding: 0.6rem;
}

.info {
  border: 1px solid black;
  width: 300px;
  margin: 10px;
}

.stats {
  border: 1px solid black;
  width: 300px;
  margin: 10px;
}

.main-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

img.pokemon-image {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  margin: 10px;
}
