/* BROWSER RESETS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.centered {
  text-align: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.selection {
  text-align: center;
  border: 2px solid black;
  padding: 20px;
  margin: auto;
  margin-bottom: 10px;
  width: 70%;
}

.selection * {
  margin-inline: 2rem;
  width: 200px;
  text-align: center;
  font-size: 1.5rem;
}

.card {
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 70%;
  height: 90%;
}

.pokemon-body {
  margin: auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pokemon-stats {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.pokemon-stats * {
  padding: 0.6rem;
  /* width: 100%; */
}

.info {
  border: 1px solid black;
  /* width: 300px; */
  margin-top: 10px;
}

.stats {
  border: 1px solid black;
  margin-top: 10px;
}
table {
  width: 100%;
  text-align: left;
}

td {
  width: 50%;
  height: 2rem;
}

img.pokemon-image {
  width: 30%;
  height: 30%;
  border: 1px solid black;
  margin: 10px;
}

h4 {
  display: inline;
}
